section.greppy(data-state="greppy")

  +titlePage('Über Greppy', 'fa-cloud', 'greppy', 'greppy')

  section.greppy(data-state="greppy")
    +pageHeadline('Über Greppy', 'fa-cloud')

    blockquote.full-width.
      Greppy is a top layer framework utilising the Express framework. Greppy extends
      the functionality of Express and increases the reuseability for common parts of
      your application. Furthermore it standardizes an application directory
      structure which helps you to manage large code bases.

