section.greppy(data-state="greppy")

  +titlePage('Features', 'fa-magic', 'greppy', 'greppy')

  section.greppy(data-state="greppy")
    +pageHeadline('Features', 'fa-magic')

    ul.space-between
      li Eine wohldefinierte Applikationsstruktur
      li MVC, Kontexte und Module
      ul.space-between
        li Kontexte umfassen Module, Module enthalten MVC
      li Abstrakte Persistenzschicht
      ul.space-between
        li Einheitliches Bootstrapping von MySQL und MongoDB Verbindungen
        li Auftrennung von Modellen, Migrationen und Fixtures

  section.greppy(data-state="greppy")
    +pageHeadline('Features', 'fa-magic')

    ul.space-between
      li Leicht zu erweitern und zu konfigurieren
      ul.space-between
        li Unterstützung von Convention-over-Configuration
        li Einfache Möglichkeiten das Framework zu erweitern
      li Belast- und Skalierbar
      ul.space-between
        li Cloud/Cluster Software mit Multi-Threading - out of the box
        li Hochverfügbarkeit durch Master/Worker Pattern

  section.greppy(data-state="greppy")
    +pageHeadline('Features', 'fa-magic')

    ul.space-between
      li Rapid Prototyping
      ul.space-between
        li Generierung von Grundgerüsten, sogar ganze CRUD Controller
        li Schnellere Entwicklung und somit schnellere Resultate

