section.greppy(data-state="greppy")

  +titlePage('Einsatzbereich', 'fa-sitemap', 'greppy', 'greppy')

  section.greppy(data-state="greppy")
    +pageHeadline('Einsatzbereich', 'fa-sitemap')

    ul.space-between
      li Verteilte Anwendungen
      li Hochverfügbare Systeme
      li Umgang mit Big Data
      li Hochperformante System

