section.greppy(data-state="greppy")

  +titlePage('Quellen', 'fa-globe', 'greppy', 'greppy')

  section.greppy(data-state="greppy")
    +pageHeadline('Quellen', 'fa-globe')

    ul.space-between.full-width
      li http://greppy.org/
      li http://greppy.org/docs/guide.html
      li https://github.com/Jack12816/greppy
      li https://github.com/Jack12816/greppy-frontend

