section

  +titlePage('Vielen Dank für Ihre Aufmerksamkeit', 'fa-thumbs-up')

  +titlePage('Experimentiert!', 'fa-flask')

  +titlePage('Verbreitet es!', 'fa-bullhorn')

  section
    table.full-width
      tr
        td
          img(width="300px", src="img/node.js.png", alt="Node.js").center
        td
          img(width="300px", src="img/greppy.png").center
      tr
        td
          h3
            a(href="http://nodejs.org", target="_blank") nodejs.org
        td
          h3
            a(href="http://greppy.org", target="_blank") greppy.org

