section

  section
    h1 Node.js und Greppy

    .divider
      hr.left
      span.h3 von
      hr.right

    h2 Hermann Mayer

  section
    span.fa.fa-coffee.fa-8x
    br
    br
    h1 <small>1st Step:</small> Kaffee besorgen

  section
    span.fa.fa-desktop.fa-8x
    br
    br
    h1 <small>2nd Step:</small> Computer<br>&nbsp;&nbsp;&nbsp;&nbsp;starten

  section
    span.fa.fa-eye.fa-8x
    br
    br
    h1 <small>3rd Step:</small> Relaxen und watchen das blinkenlichten

