section
  h2.page-title Gliederung <small>Node.js</small>

  ol
    li Geschichte
    li Vorteile
    li Nachteile
    li Erweiterungen, Eigenheiten, Fakten
    li Werkzeuge und Strukturen
    li Praktiken
    li Vendor-Bibliotheken
    li Quellen

