section

  +titlePage('Geschichte', 'fa-book')

  section
    +pageHeadline('Geschichte', 'fa-book')

    ul.space-between
      li Vorstellung <b>2009</b> auf JSConf
      li ab <b>2012</b> Verwendung bei Unternehmen (Microsoft, eBay, LinkedIn, The New York Times, Yahoo!, etc.)
      li <b>Ziel:</b> Framework zur einfachen Erstellung von leicht skalierbaren Netzwerkanwendungen
      li über Googles <b>V8</b> betrieben
      li Eventgesteuerte Programmierung

