section

  +titlePage('Vorteile', 'fa-plus-square')

  section
    +pageHeadline('Vorteile', 'fa-plus-square')

    ul.space-between
      li Moderne API, keine Altlasten
      li Geschwindigkeit durch Asynchronizität und Parallelität
      li Cluster/Cloud Applikationen leicht implementierbar
      li Skalierbarkeit: vertikal und horizontal
      li Einfache Handhabung von Multithreading
      li Kein externer Server-Stack (im Gegensatz z.B.: Apache httpd, Apache Tomcat oder nginx)

  section
    +pageHeadline('Vorteile', 'fa-plus-square')

    ul.space-between
      li Applikation beinhaltet Server
      li Viele Vendor Bibliotheken (async, moment, express)
      li Schnelle Entwicklung von Applikationen jeder Größe
      ul.space-between
        li Geringer Konfigurationsaufwand
        li Geringe Fehlerhäufigkeit
        li Konzentration auf Kernproblematik
      li Alle Vorteile eines Applikationsservers
      ul.space-between
        li Kein Bootstrap pro Request (im Gegensatz zu PHP)
        li Der Bootstrap erfolgt einmalig bei Serverstart

  section
    +pageHeadline('Vorteile', 'fa-plus-square')

    ul.space-between
      li Javascript im Front- und Backend (Applikation, Persistenzschicht)
      li Keine Überladenen Frameworks wie PHP’s Zend Framework oder Symfony
      li Native Bindings (C/C++)
      li Mit Node kein Load :)

