section

  +titlePage('Nachteile', 'fa-minus-square')

  section
    +pageHeadline('Nachteile', 'fa-minus-square')

    ul.space-between
      li Einf체hrung von neuem Personal gestaltet sich schwierig
      li Noch junger aber aufstrebender Trend (Bleeding Edge)
      li Hohe Qualit채tsanspr체che an Entwickler, 채hnlich Ruby oder Haskell

