section

  +titlePage('Quellen', 'fa-globe')

  section
    +pageHeadline('Quellen', 'fa-globe')

    ul.space-between.full-width
      li http://nodejs.org/
      li http://en.wikipedia.org/wiki/Nodejs
      li http://code.google.com/p/v8/
      li http://en.wikipedia.org/wiki/V8_%28JavaScript_engine%29
      li http://expressjs.com/
      li https://github.com/caolan/async
      li http://jade-lang.com/
      li http://wiki.commonjs.org/wiki/CommonJS

